a:link, a:visited {
    color: #fff;
    font-weight: 700;
    transition: .2s color ease-in-out;
    text-decoration: none;
}

a:link:hover {
    background-color: rgba(0, 209, 251, 0.6);
}

.toggle-menu {
    display: none;
}

header {
    /* margin: 1rem 0; */
}

.site-title img {
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-list > li {
    position: relative;
}

.nav-list > li:not(.has-logo) > a {
    text-transform: uppercase;
    display: block;
    padding: 1rem;
}

.nav-list ul {
    list-style-type: none;
    position: absolute;
    z-index: 1010;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 2rem;
    padding-inline-start: 0;
    left: -9999px;
}

.nav-list ul a {
    color: #fff;
    font-weight: normal;
    display: block;
    padding: .5rem 1rem;
    text-align: left;
}

.nav-list > li:hover a + ul {
    left: 0;
    top: 100%;
}

.mobile-display {
    display: none;
}

/* medium/large  */
@media only screen and (max-width: 58.75rem) {
    html {
        font-size: 13px;
    }

    /* body {
        width: 80%;
    } */

    .has-logo {
        display: none;
    }

    .mobile-display {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

/* small */
@media only screen and (max-width: 33.68rem) {
    .toggle-menu {
        display: block;
        position: absolute;
        top: 0rem;
        right: 1rem;
        max-width: min-content;
        margin: 1rem auto;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        color: #fff !important;
        padding: 1rem;
        border-radius: .25rem;
        font-size: 25px;
    }

    .nav-list {
        display: block;
        /* width: 100%; */
        position: static;
        line-height: 1rem;
        z-index: 1012;
        left: 0;
        top: 0;
        background-color:#000;
        max-height: 0;
        overflow: hidden;
    }

    .nav-list ul {
        background-color: transparent !important;
    }

    .active {
        max-height: 100%;
    }   

    .nav-list ul {
        position: static;
        text-indent: 2rem;
        z-index: 1013;
    }
}