body {
    width: 80%;
    margin: 0 auto 0 auto;
    font: 16px 'Muli', sans-serif;
}

a:link,
a:visited {
    color: #fff;
    font-weight: 700;
    transition: .2s color ease-in-out;
    text-decoration: none;
}

a:link:hover {
    background-color: rgba(0, 209, 251, 0.6);
}

.toggle-menu {
    display: none;
}

header {
    /* margin: 1rem 0; */
}

.site-title img {
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.nav-list {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
}

.nav-list>li {
    position: relative;
}

.nav-list>li:not(.has-logo)>a {
    text-transform: uppercase;
    display: block;
    padding: 1rem;
}

.nav-list ul {
    list-style-type: none;
    position: absolute;
    z-index: 1010;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 2rem;
    padding-inline-start: 0;
    left: -9999px;
}

.nav-list ul a {
    color: #fff;
    font-weight: normal;
    display: block;
    padding: .5rem 1rem;
    text-align: left;
}

.nav-list>li:hover a+ul {
    left: 0;
    top: 100%;
}

.mobile-display {
    display: none;
}

.landing-content-container {
    color: white;
    padding: 1em;
    text-align: center;
}

.cta-home {
    background: linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25', GradientType=0);
    background-color: #ffc477;
    border-radius: 5px;
    border: 1px solid #eeb44f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 25px;
    text-decoration: none;
    margin: 1rem 0;
}

.cta-home:hover {
    background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477', GradientType=0);
    background-color: #fb9e25;
}

.cta-home:active {
    position: relative;
    top: 1px;
}

.landing-featured-contact {
    margin-top: 1rem;
}

.landing-featured-contact .col {
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
}


/* large */

@media only screen and (min-width: 941px) {
    .landing-content-container {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        max-width: 50%;
    }
    .landing-featured-contact {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1rem;
    }
}


/* medium/large  */

@media only screen and (max-width: 58.75rem) {
    html {
        font-size: 13px;
    }
    body {
        width: 80%;
    }
    .has-logo {
        display: none;
    }
    .mobile-display {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .landing-content-container {
        position: absolute;
        top: 55%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        max-width: 50%;
    }
    .landing-featured-contact {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1rem;
    }
}


/* small */

@media only screen and (max-width: 33.68rem) {
    .toggle-menu {
        display: block;
        position: absolute;
        top: 0rem;
        right: 1rem;
        max-width: min-content;
        margin: 1rem auto;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        color: #fff !important;
        padding: 1rem;
        border-radius: .25rem;
        font-size: 25px;
    }
    .nav-list {
        display: block;
        /* width: 100%; */
        position: static;
        line-height: 1rem;
        z-index: 1012;
        left: 0;
        top: 0;
        background-color: #000;
        max-height: 0;
        overflow: hidden;
    }
    .nav-list ul {
        background-color: transparent !important;
    }
    .active {
        max-height: 100%;
    }
    .nav-list ul {
        position: static;
        text-indent: 2rem;
        z-index: 1013;
    }
    .landing-content-container {
        position: absolute;
        top: 575px;
        max-width: 80%;
        z-index: -1;
    }
    .landing-featured-contact {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 1rem;
    }
}

.align-left {
    text-align: left;
}